#employeeView, #employerView {
    width: 100%;
    overflow-y: scroll;
    padding-top: 7px; /*To equal 10 when added with jobPanel*/
}

#backButton {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    padding-left: 15px;
}

#panelView {
    width: 100%;
}

#singleJobView {
    width: 100%;
}

.jobPanel {
    padding: 3px 15px 0 15px;
}

.panelJobName {
    float: left;
    font-weight:bold;
    font-size: 16px;
}

.panelEmployerName {
    float: left;
    font-size: 12px;
}

.panelSalary {
    float: right;
    font-size: 12px;
}

.panelPostTime {
    float: right;
    font-size: 12px;
}

.panelDescription {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
}

.panelRow {
    float: left;
    width: 100%;
}

.panelRowMiddle{
    margin-top:-5px;
}

.panelRowBottom{
    margin-top:5px;
    margin-bottom:5px;
}
#navProfilePic {
    width: 100px;
    border-radius: 50%;
}

#navProfileName {
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    margin: -20px 0 0 0;
    color:black;
}

.offerDots{
    font-size:17px;
    float:right;
}

.offerOpenClosed{
    float: right;
    font-size: 14px;
}

.offerDropdown{
    float:right;
    font-size:14px;
    padding-left:20px;
}

.bottomButton{
    position:fixed;
    bottom:0;
    width:100%;
    padding:0 10px 10px 10px;
}

.fullSizeButton{
    width:100%;
    height:50px;
    background-color:#7ECB7D;
    border:none;
    font-weight:bold;
    font-size:16px;
}
.fullSizeButton:focus{
    background:#7ECB7D;
}

#singleJobTitle{
    font-size: 18px;
    font-weight:bold;
}

#singleJobEmployer{
    font-size:16px;
    margin-top:-10px;
}

#singleJobInfoArea{
    padding:10px 15px 0 15px;
}

#successOverlay{
    width:100%;
    height:100%;
    background-color:rgba(86,86,86,0.7);
    position:absolute;
    z-index:999;
}

#successContainer{
    width:70%;
    height:35%;
    margin-left:15%;
    background-color:white;

}