/* Core Styles */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    font-size: 16px;
}


/* Material Icons */
i.material-icons.small {
    font-size: 20px;
}

i.material-icons.medium {
    font-size: 36px;
}

i.material-icons.large {
    font-size: 75px;
}

i.material-icons.xlarge {
    font-size: 180px;
}

/* Navigation */

.primary-nav {
    background-color: #7ECB7D;
}

.nav-wrapper > a {
    display: none;
    padding-left: 15px;
}

#sidebar {
    background-color: #FFFFFF;
}

#backButton {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    padding-left: 15px;
}

#navProfilePic {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

#navProfileName {
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    margin: -20px 0 0 0;
    color: black;
}

/* Pages */

/* View */

#employeeView, #employerView {
    width: 100%;
    overflow-y: scroll;
    padding-top: 7px; /* To equal 10 when added with jobPanel */
}

#panelView,
#singleJobView,
#singleHistoryView,
#reviewView {
    width: 100%;
}

/* Login */

#loginCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

/* Jobs */

/* Job Listings */

.jobPanel,
.singleJobPanel,
.reviewPanel {
    padding: 3px 15px;
    margin-bottom: 0;
    width: 100%;
}

.jobPanel {
    cursor: pointer;
}

.jobPanel + .jobPanel {
    border-top: 2px solid #eee;
}

.jobPanel:last-of-type {
    border-bottom: 2px solid #eee;
}

.jobPanel:hover {
    background-color: #eee;
}

.jobName,
.jobWage {
    font-weight: bold;
}

#panelView .jobDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Buttons */

.bottomButton {
    position: fixed;
    bottom: 0;
    left: 25px;
    right: 25px;
    margin-bottom: 15px;
}

.halfButton {
    margin: 0 10px 15px;
    width: 45%
}

button.bottomButton {
  width: 90%;
}

/* Success Modal */

#successOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(86, 86, 86, 0.7);
    position: absolute;
    z-index: 999;
}

#successContainer {
    width: 70%;
    height: 35%;
    margin-left: 15%;
    background-color: white;
}

/* Review Employer */

#reviewArea {
    font-size: 14px;
    height: 200px;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    border: 1px solid black;
}

.face {
    cursor: pointer;
    margin: 10px;
    border-radius: 37.5px;
}

.selected {
    background-color: yellow;
}



.fullSizeButton {
    width: 100%;
    height: 50px;
    background-color: #7ECB7D;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.fullSizeButton:focus {
    background: #7ECB7D;
}

#createJob, #reviewNewJob{
    width:90%;
    margin-top:10px;
    margin-left:5%;
    margin-right:5%;
    color:grey;
}

.inputField{
    color:rgba(0, 0, 0, 0.87);
}

#newJobButtonBar, #reviewJobButtonBar{
    width:90%;
    position:fixed;
    bottom:0;
    padding-bottom:5px;
}

#singleOfferView{
    width:90%;
    margin-left:5%;
    margin-top:10px;
}
