@import 'normalize';
@import 'variables';
@import 'typography';

// Set the default box-sizing
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: $left-gutter;
  padding-right: $right-gutter;
}

.posts, .post {
  margin-top: $top-margin;
}

.post-date {
  float: right;
}
