$color-black: #000000;
$color-gray: #aaaaaa;
$color-white: #ffffff;

$color-primary: #286fff;
$color-primary-lighter: lighten($color-primary, 25);

$left-gutter: 5%;
$right-gutter: 5%;
$top-margin: 50px;
